# Node
node_modules
dist
build
.turbo
.vite
.cache

# Env
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# Prisma
apps/api/prisma/dev.db
apps/recovery/prisma/*.db
apps/recovery/prisma/*.db-journal
apps/recovery/src/generated
